<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .header{
            background-color: blue;
            color: white;
        }
        .footer{  
            background-color: brown;
            color: white;
        }

        . content {
            background-color: cyan;
        }
    </style>
</head>
<body style="background-color:pink;">
    <div class="header">
        {% block header %}
    
        {% endblock header %}
    </div>
    <div class = "content">
        {% block content %}
        
        {% endblock content %}
    </div>
    <div class="footer">
        {% block footer %}
    
        {% endblock footer %}
    </div>

</body>
</html>